<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethical Implications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ethical.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ethical Implications</h1>

        <div class="letter">
            <button id="toggleButton">Read more</button>
            <div id="letterText" class="hidden">
                <p>Ethical Consideration: As data researchers and analysts, handling sensitive information is apart of the job and requires a responsibility to continuously consider ethical implications throughout the process. The focus of our project, healthcare and socio-economic status, the information that we worked with could be considered amongst the most sensitive of data types. When working on a project that handles such delicate information, it is our duty to consider how the data tells the story. Specifically in our case, we wanted to be aware of utilizing any research or data that would disproportionately focus on certain population groups, or alternatively ignore others, which could lead to biased or insensitive conclusions. If we were to report further on our topic, we would be sure to use language that did not stigmatize or reinforce stereotypes, which in turn could harm vulnerable populations.</p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/ethical.js') }}"></script>
</body>
</html>