<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Healthcare Deserts Project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ren_a_doc_map.css') }}">
</head>
<body class="home-page">
  <div class="content">
    <div class="text-overlay">
      <h1>Welcome to Group 1 Project!</h1>
      <p class="subtitle">Exploring the Socioeconomic Factors Behind Healthcare Deserts in California.</p>
      <p>Visit <a href="/api/v1.0/locations">/api/v1.0/locations</a> for data in JSON format.</p>
      <p>Take a look at our map to view how the factors we investigated are mapped across California. <a href="/map">Click here to see the map.</a>.</p>
      <p>Want to see scatter plots and statistical analysis? <a href="/plots">Click here to see the plots page</a>.</p>
      <p>For a detailed summary of our findings, check out the <a href="/result.html">Project Summary</a>.</p>
    </div>
  </div>
</body>
</html>