<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Healthcare Deserts Project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ren_a_doc_map.css') }}">
</head>
<body class="home-page">
  <div class="content">
    <div class="text-overlay">
      <h1>Project 3: Group 1 - Data Visualization Track</h1>
      <h2>Access to Pediatric Care in California: Analyzing the Socioeconomic Factors Behind Healthcare Deserts</h2>
      <h3>Amy Dos Santos, Aleksandra Kutz, Carmen Dual</h3>
      
      <p>Visit <a href="/api/v1.0/locations">/api/v1.0/locations</a> for data in JSON format.</p>
      <p>Take a look at our map to view how the factors we investigate are mapped across California. <a href="/map">Click here to see the map.</a></p>
      <p>Want to see detailed plots and analyses? <a href="/plots">Click here to see the plots page</a>.</p>
      <p>Interested in the project summary? <a href="/result">Click here to see the analysis results</a>.</p>

      <h3>1. Project Overview & Key Definitions</h3>
      <p>Pediatric care desert, Pediatricians,</p>
      <p>Children, Population Density, </p>
      <p>Family Median Income, Poverty Rate, and Insurance coverage</p>
      
      <h3>2. Hypothesis</h3>
      <ul>
        <li><strong>Poverty Rate:</strong> Zip codes with lower poverty levels will have less kids per doctor.</li>
        <li><strong>Family Median Income:</strong> Zip codes with higher family median income will have less kids per doctor.</li>
        <li><strong>Population Density:</strong> Higher density zip codes will have less kids per doctor.</li>
        <li><strong>Insurance Coverage:</strong> Zip codes with higher insurance coverage will have less kids per doctor.</li>
      </ul>

      <h3>3. Ethical Considerations</h3>
      <ul>
        <li><strong>Data Use and Attribution:</strong> U.S. Census Bureau, California Health and Human Services (CalHHS)</li>
        <li><strong>Data Privacy and Protection</strong></li>
        <li><strong>Bias and Representation</strong></li>
      </ul>
    </div>
  </div>
</body>
</html>