<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Map</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ren_a_doc_map.css') }}">
</head>
<body class="map-page">
  <div id="map"></div>  <!-- Map will be here -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="{{ url_for('static', filename='js/ren_a_doc_map.js') }}"></script> 
</body>
</html>